body {
  font-family: Arial,Helvetica,sans-serif;
  color: rgb(102, 102, 102) !important;
  font-style: normal !important;
  font-size: 13px !important;
  margin: 0px !important;
  padding: 0px !important;
  background: url("/assets/diagonal-noise.png") repeat fixed 0% 0% rgb(253, 253, 253) !important;
}

.top_color {
  border-top: rgb(0, 85, 128) 3px solid;
}

.title h3 a{
  color: black;
}

